<!DOCTYPE html>
<html lang="pt-br">
<head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>Graph Social Network - Steam </title>
 <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
 <link rel="shortcut icon" href="{{ url_for('static', filename='database.ico') }}">
</head>
<body style="padding-top: 70px">
    <!-- Modal -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
         <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Steam Network</a>
         </div>
         <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">

          </ul>
         </div>
        </div>
    </nav>
    <div id="main" class="container-fluid">
        <div id="main" class="container-fluid">
            <div id="top" class="row">
                <div class="col-md-2">
                </div>
             
                <div class="col-md-8">
                    <form action="/search" method="POST">    
                        <div class="input-group h2">
                            <span class="input-group-addon" id="sizing-addon2">Steam Account Name</span>
                            <input name="user_name" class="form-control" id="search" type="text" placeholder="Pesquisar Steam Account">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="submit">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
             
                <div class="col-md-2">
                </div>
                
            </div> <!-- /#top -->
        
            <hr />
            <div id="list" class="row">
 
                <div class="table-responsive col-md-12">
                    <table class="table table-striped" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <th>Game</th>
                                <th>Frequencia</th>
                             </tr>
                        </thead>
                        <tbody>
                            {% if (content_page is not defined) or (content_page|length == 0)%}
                                <tr>
                                    <td>No content in page</td>
                                </tr>
                            {% else %}
                                {% for item in content_page %}
                                <tr>
                                    <td>
                                        <div class="conainer">
                                            <!--http://cdn.akamai.steamstatic.com/steam/apps/10/header_292x136.jpg-->
                                            <img class="img-responsive lazy" src="http://cdn.akamai.steamstatic.com/steam/apps/{{item.game}}/header.jpg" />
                                        </div>
                                    </td>
                                    <td>{{item.frequencia}}</td>
                                </tr>
                                {% endfor %}
                            {% endif %}
             
                        </tbody>
                     </table>
             
                 </div>
             </div> <!-- /#list -->
        
             <div id="bottom" class="row">
                <div class="col-md-12">             
                </div>
            </div> <!-- /#bottom -->
        </div>  <!-- /#main -->
    </div>


<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>